<section>
  <h2>Create New Post</h2>

     <button type="submit" id="new-post-form" name="new-post-form " class="new-post-form btn-no-style" value="enter">+ New Post</button>
     <a href="/add-post"></a>

</section> 

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title">
            <h3>{{title}}</h3>
            <h4>{{post_con}}</h4>
        </div>
        <div class="meta">
             by {{user.username}} on {{user.created_at}}
            |
            <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
        </article>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/add-post.js"></script>