
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <input name="post-con" type="text" value="{{post.post_con}}">
    </div>
    <div>
      by you on {{post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
    </div>
    <button type="submit">Update post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/edit-post.js"></script>
<script src="/delete-post.js"></script>
<script src="/comment.js"></script>