<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
  <div class="title">
    <h3{{post.title}}</h3>
    <h4>{{post.post_con}}</h4>
  </div>
  <div class="meta">
    by {{post.user.username}} on {{post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
</article>
  </li>
  {{/each}}
</ol>